{% extends 'base.html' %}

{% block title %}Пароль изменен - CarStore{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="mb-4">Пароль успешно изменен!</h2>
                    <p class="mb-4">Ваш пароль был успешно изменен. Теперь вы можете войти в систему, используя новый пароль.</p>
                    <a href="{% url 'login' %}" class="btn btn-primary">Войти</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 